.card__poll-result {
  padding: 20px 20px 10px;
  position: relative;
  width: 90%;
  height: 40px;
  pad: 0 10px;
  line-height: 40px;
  color: #111;
  margin-bottom: 10px;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  overflow: hidden;
}

.card__poll-result.selected {
  border: 2px solid #676767;
}

span.percentage-value {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 40px;
  transform: translateY(-50%);
  color: #111;
  font-size: 15px;
}

span.percentage-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  background-color: #585858;
  z-index: 0;
  opacity: 60%;
  transition: width 300ms ease-in-out;
}

.disableBtn {
  pointer-events: none;
  cursor: not-allowed;
  background-color: #3a3a3a;
}
